substitutions:
  devicename: "esp32-cam-02"
  friendly_devicename: "Berner Gary-Cam"
  room: "Auf Lager"
  comment: "Berner Gary-Cam"
  project_name: "Espressif.ESP32"
  project_version: "1.0"

esphome:
  <<: !include common/section-esphome.yaml

<<: !include common/section-system.yaml

# Board selection
<<: !include boards/esp32.yaml

external_components:
  - source:
      type: git
      url: https://github.com/MichaKersloot/esphome_custom_components
    components: [ esp32_camera ]

esp32_camera:
  name: "${friendly_devicename} Kamera"
  icon: mdi:led-outline
  external_clock:
    pin: GPIO0
    frequency: 20MHz
  i2c_pins:
    sda: GPIO26
    scl: GPIO27
  data_pins: [GPIO5, GPIO18, GPIO19, GPIO21, GPIO36, GPIO39, GPIO34, GPIO35]
  vsync_pin: GPIO25
  href_pin: GPIO23
  pixel_clock_pin: GPIO22
  horizontal_mirror: false
  vertical_flip: false
  power_down_pin: GPIO32

output:
  - platform: gpio
    pin: GPIO4
    id: gpio_4
    
light:
  - platform: binary
    output: gpio_4
    name:  "${friendly_devicename} LED"

esp32_camera_web_server:
  - port: 8080
    mode: stream
  - port: 8081
    mode: snapshot